#main-title {
    font-weight: 600;
    font-size: 37px;
    padding: 20px 0 50px;
}

#inside-team {
    display: flex;
    text-align: center;
    justify-content: center;
}

.arrow {
    justify-content: center;
    margin: auto;
}

#picture-frame {
    /*transform: translateX(65%);*/
    height: 281px;
    width: 281px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.name-on-each {
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
}

.sub-on-each {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 30px;
}

.parag {
    /*width: 350px;*/
    font-size: 14px;
    line-height: 1.3;
    padding-bottom: 80px;
}
