#projects-main {
    margin-top: 100px;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}

#img-maiin {
    background-color: #ccc;
    width: 326px;
    height: 456px;
}

.title1 {
    font: normal normal 900 16px/20px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 20px;
    padding-top: 52px;
}

#services-info {
    padding-top: 52px;
}
