<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/company/about.css">
    <title>Slick - About</title>
</head>

<body>
    <article  id="main-article">
        <h3 id="main-font">За Нас</h3>
        <div class="row" id="media">
            <div class="col-6">
                <div class="biggest-left-image"></div>
            </div>
            <div class="col-6">
                <div class="row" id="four-small-sections">
                    <div class="col-6">
                        <div id="small-top-left"></div>
                    </div>
                    <div class="col-6">
                        <div id="small-top-right"></div>
                    </div>
                    <div class="col-6">
                        <div id="small-bottom-left"></div>
                    </div>
                    <div class="col-6">
                        <div id="small-bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!--text boxes and stuff below the pictures-->
    <article class="container" id="text-article">
        <div class="row" id="text">
            <div class="col-7">
                <h4 id="who-we-are">Кои сме ние?</h4>
                <p id="who-block-text">
                    Ние сме родопският IT HUB. Младият ни иновативен екип от Девин разработва динамични уеб-сайтове, маркетингови стратегии и цялостни решения за нашите клиенти. Обединяваме иновативни и амбициозни хора, които обичат да работят и да се развиват.
                </p>
                <h4 id="why-devin">Защо Девин?</h4>
                <p id="why-block-text">
                    Това е едно кътче от България, сред красивите Родопи, зареждащо с енергията на Балкана, минералните изворни води и кристално чистия въздух. Имаме идея да се развият IT технологиите и в по-малките градчета на България като се внедрят млади специалисти на тези места.
                </p>
                <h4 id="who-we-are">Нашата мисия</h4>
                <p id="who-block-text">
                    Нашата мисия е да създадем една благоприятна среда за младите хора, които искат да се развиват в ИТ сферата. Компанията предоставя мястото, където тези хора да могат да се усъвършенстват и развиват, като едновременно с това развиват технологиите и дигиталната среда в Девин.
                </p>
            </div>
            <div class="col-4">
                <img class="pad-img" src="~/lib/icons/question.svg" alt="Alternate Text" />
            </div>

        </div>
        <!--sponsors-->
        <div>
            <h4 id="sponsors">Нашите партньори</h4>
            <div class="row">
                <div class="col-4 logo2">
                    <img src="~/lib/icons/logo_az_moga (1).png" height="372px" alt="аз мога тук и сега">
                </div>
                <div class="col-4 holder-two">
                    <div class="column">
                        <div class="modis">
                            <img src="~/lib/icons/1200px-Modis_Logo.png" height="130px" alt="Modis">
                        </div>
                        <div class="cc">
                            <img src="~/lib/icons/cc-logo-034.png" width="350px" alt="CloudCart">
                        </div>
                    </div>
                </div>
                <div class="col-4 holder-two">
                    <div class="column">
                        <div class="smule">
                            <img src="/lib/icons/Smule_LetsMusicTogether_Colored.png" width="351px" alt="Smule">
                        </div>
                        <div class="teva">
                            <img src="~/lib/icons/Teva_Pharmaceuticals_logo.png" width="240px" alt="Teva">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</body>
