@{
    this.ViewData["Title"] = "Услуги";
}
<head>
    <link rel="stylesheet" href="~/css/service/service.css">
</head>
<body>
    <article>
        <h3 id="main-title">Услуги</h3>
        <div class="row">
            <div class="col-6 holders">
                <div class="card">
                    <div class="d-flex">
                        <div class="icon">
                            <img src="~/lib/icons/laptop11.svg" height="46px" alt="laptop">
                        </div>
                        <h4 id="titles1">Разработка на уеб-сайт <br>и мобилно приложение</h4>
                    </div>
                    <p class="parag">Богат опит в изработването на уеб сайтове в различни направления - от презентационни страници и онлайн магазини, до изграждането<br /> на персонализирани уеб приложения и поддържането им.</p>
                </div>
            </div>
            <div class="col-6 holders">
                <div class="card">
                    <div class="d-flex">
                        <div class="icon">
                            <img src="~/lib/icons/developer_mode11.svg" height="52px" alt="dev">
                        </div>
                        <h4 class="titles">Разработка <br /> на софтуер</h4>
                    </div>
                    <p class="parag">Основна цел на компанията при изпълнение <br /> на софтуерните проекти е чрез използване <br />на най-прогресивните световни ИТ тенденции <br />и технологии е да се даде най-добър продукт.</p>
                </div>
            </div>
            <div class="col-6 holders">
                <div class="card">
                    <div class="d-flex">
                        <div class="icon">
                            <img src="~/lib/icons/stats-dots11.svg" height="52px" alt="stats">
                        </div>
                        <h4 class="titles">Маркетингова <br />стратегия</h4>
                    </div>
                    <p class="parag">Предлагаме ти планиране, провеждане и мониторинг на рекламни кампании в <br /> социалните платформи като Google+, Facebook, Twitter, LinkedIn, YouTube и други.</p>
                </div>
            </div>
            <div class="col-6 holders">
                <div class="card">
                    <div class="d-flex">
                        <div class="icon">
                            <img src="~/lib/icons/pencil11.svg" height="49px" alt="pencil">
                        </div>
                        <h4 class="titles">Дизайн<br /> и мултимедия</h4>
                    </div>
                    <p class="parag">Това е лицето на компания ти. За да покрием напълно нуждите на нашите клиенти, освен решения свързани с уеб, предлагаме и изграждане на цялостна корпоративна идентичност.</p>
                </div>
            </div>
        </div>
    </article>
</body>