<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/workers/workers.css">
    <title>Slick - Our team</title>
</head>
<article>
    <div class="justify-content-center">
        <h3 id="main-title">Екипът ни</h3>
        <div class="row" id="inside-team">
            <div class="col-3">
                <div id="picture-frame">
                    <img class="imgg" src="~/lib/photos/alexa_final.png" alt="l" width="200" height="200">
                </div>
                <h4 class="name-on-each">Алекса Тачев</h4>
                <h5 class="sub-on-each">Project Manager</h5>
                <p class="parag">
                    Project Manager с над 18 години опит в сферата. Умее да разпределя правилно времето си, а в свободното си време обича да играе футбол.
                </p>
            </div>
            <div class="col-3">
                <div id="picture-frame">
                    <img class="imgg" src="~/lib/photos/kosio_final.png" alt="l" width="200" height="200">
                </div>
                <h4 class="name-on-each">Константин Саев</h4>
                <h5 class="sub-on-each">Back-end Developer</h5>
                <p class="parag">
                    Back-end Developer с повече от 15 години опит, който разрешава проблеми и създава иновативни сайтове и приложения. В свободното си време обича да играе волейбол и да кара ски.
                </p>
            </div>
            <div class="col-3">
                <div id="picture-frame">
                    <img class="imgg" src="~/lib/photos/hristo_final.png" alt="l" width="200" height="200">
                </div>
                <h4 class="name-on-each">Христо Панев</h4>
                <h5 class="sub-on-each">Back-end Developer</h5>
                <p class="parag">
                    Back-end Developer с 10 години опит, кoйто специализира с разработването на софтуер. Неговите хобита са колоезденето и четенето на най-различни книги.
                </p>
            </div>
            <div class="col-3">
                <div id="picture-frame">
                    <img class="imgg" src="~/lib/photos/zori_final.png" alt="l" width="200" height="200">
                </div>
                <h4 class="name-on-each">Зорница Артинова</h4>
                <h5 class="sub-on-each">Front-end Developer</h5>
                <p class="parag">
                    Front-end Developer с редица проекти зад гърба си. Създава модерни и лесно достъпни сайтове и приложения. Обича да рисува и да се разхожда сред природата.
                </p>
            </div>
            <div class="col-3">
                <div id="picture-frame">
                    <img class="imgg" src="~/lib/photos/ivan_final.png" alt="l" width="200" height="200">
                </div>
                <h4 class="name-on-each">Иван Наков</h4>
                <h5 class="sub-on-each">Front-end developer</h5>
                <p class="parag">
                    Той е Front-end Developer с над 11 години опит в бранша. Занимава се основно със създаването на иновативни сайтове. Фен е на рали спорта и високите скорости.
                </p>
            </div>
            <div class="col-3">
                <div id="picture-frame">
                    <img class="imgg" src="~/lib/photos/stela_final.png" alt="l" width="200" height="200">
                </div>
                <h4 class="name-on-each">Стела Вълкова</h4>
                <h5 class="sub-on-each">Graphic designer</h5>
                <p class="parag">
                    Графичен дизайнер с над 15 години опит в тази сфера. Създава както уеб-дизайн, така и графичен. В свободното си време обича да рисува, да чете книги и да се разхожда из природата.
                </p>
            </div>
            <div class="col-3">
                <div id="picture-frame">
                    <img class="imgg" src="~/lib/photos/reni_final.png" alt="l" width="200" height="200">
                </div>
                <h4 class="name-on-each">Ренета Никoлова</h4>
                <h5 class="sub-on-each">Photo & Video Editing</h5>
                <p class="parag">
                    Тя е с над 12 години опит в обработката на видео и снимки. Цели се към създаването на интересно и забавно визуално съдържание. Нейните хобита са рисуването и колоезденето сред природата.
                </p>
            </div>
            <div class="col-3">
                <div id="picture-frame">
                    <img class="imgg" src="~/lib/photos/stoqnka_final.png"a alt="l" width="200" height="200">
                </div>
                <h4 class="name-on-each">Стоянка Димитрова</h4>
                <h5 class="sub-on-each">Marketing Expert</h5>
                <p class="parag">
                    Marketing Expert с повече от 14 години опит, който разрешава проблеми и създава иновативни решения. В свободното си време обича да чете и рисува.
                </p>
            </div>
        </div>
    </div>

</article>