<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/projects/projects.css">
    <title>Slick - Projects</title>
</head>
<article id="pojects-article">
    <h3 id="main-title">Нашите проекти</h3>
    <section id="amtis">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <span>Община Девин</span>
                        <div class="box">
                            <img src="~/lib/projects/screenshot-devin.bg-2021.09.06-15_27_15.png" alt="lines" class="lines" height="400" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <span>Хотел Исмена</span>
                        <div class="box">
                            <img src="~/lib/projects/screenshot-ismena.bg-2021.09.06-15_45_19.png" alt="lines" class="lines" height="400" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <span>Bflow</span>
                        <div class="box">
                            <img src="~/lib/projects/screenshot-bflow.dev-2021.09.06-15_59_39.png" alt="lines" class="lines" height="400" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <span>Девин АД</span>
                        <div class="box">
                            <img src="~/lib/projects/screenshot-www.devin-bg.com-2021.09.06-16_03_11.png" alt="lines" class="lines" height="400" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <span>Smule</span>
                        <div class="box">
                            <img src="~/lib/projects/screenshot-www.smule.com-2021.09.06-16_20_14.png" alt="lines" class="lines" height="400" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <span>Modis</span>
                        <div class="box">
                            <img src="~/lib/projects/screenshot-www.modis.com-2021.09.06-16_25_56.png" alt="lines" class="lines" height="400" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>